@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Manrope", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Manrope";
  src: local("ManropeRegular"),
    url("assets/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Manrope";
  src: local("ManropeBold"),
    url("assets/fonts/Manrope/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  background-color: white;
  margin: 0;
  font-size: 17px;
  color: #0a063b;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.animation-delay {
  animation-delay: 2000ms;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-300 span{
  animation-delay: 200ms !important;
}

.animation-delay-600 {
  animation-delay: 600ms;
}
.animation-delay-600 span{
  animation-delay: 300ms !important;
}

.animation-delay-900 {
  animation-delay: 900ms;
}
.animation-delay-900 span{
  animation-delay: 400ms !important;
}

.animation-delay-1200 {
  animation-delay: 900ms;
}
.animation-delay-1200 span{
  animation-delay: 400ms !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.list-dot > li::before {
  content: ".";
  position: absolute;
  left: 0;
  top: 2px;
  line-height: 0;
  font-size: 26px;
}

.list-dot > li {
  position: relative;
  margin-bottom: 10px;
  line-height: 1.3em;
  padding-left: 30px;
}

.line-list> li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  line-height: 0;
  font-size: 26px;
  width: 13px;
  height: 1px;
  background-color: #016AF4;
}

.line-list> li {
  position: relative;
  margin-bottom: 10px;
  line-height: 1.3em;
  padding-left: 30px;
}

.staircase-container {
  position: relative;
}

.staircase-text {
  font-size: 17px;
  transition: opacity 0.5s ease; /* Добавляем плавный переход */
}

.staircase-container:hover .staircase-text {
  opacity: 1;
}

.staircase-text {
  display: flex;
}

.staircase-text {
  font-weight: bold;
  display: flex;
}

.staircase-text span {
  animation: none; /* Отключаем анимацию по умолчанию */
}

.staircase-text:hover span {
  opacity: 0;
  animation: staircase 0.4s forwards;
}

.staircase-text span:nth-child(1) {
  animation-delay: 0s;
}

.staircase-text span:nth-child(2) {
  animation-delay: 0.02s;
}

.staircase-text span:nth-child(3) {
  animation-delay: 0.04s;
}

.staircase-text span:nth-child(4) {
  animation-delay: 0.06s;
}

.staircase-text span:nth-child(5) {
  animation-delay: 0.08s;
}

.staircase-text span:nth-child(6) {
  animation-delay: 0.1s;
}

.staircase-text span:nth-child(7) {
  animation-delay: 0.12s;
}

.staircase-text span:nth-child(8) {
  animation-delay: 0.14s;
}

.staircase-text span:nth-child(9) {
  animation-delay: 0.16s;
}

.staircase-text span:nth-child(10) {
  animation-delay: 0.18s;
}

.staircase-text span:nth-child(11) {
  animation-delay: 0.2s;
}

.animated-text {
  display: inline-block;
  overflow: hidden;
}

.animated-text span {
  overflow: hidden;
  position: relative;
}

.animated-text {
  overflow: hidden;
  position: relative;
}

.animated-text span span {
  display: inline-block;
  overflow: hidden;
  position: relative;
  animation: slideUp 0.5s ease forwards;
  opacity: 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes staircase {
  from {
    transform: translateY(20px);
  }
  70% {
      opacity: 1;
      transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
}
}

.svg-container {
  /* position: absolute;
  left: 0;
  width: 100%;
  top: auto;
  height: 30%;
  bottom: -20%; */
}

.svg-container::before {
  content: '';
  /* margin-left: 0.5rem; */
  color: red;
  position: absolute;
  left: 0;
  top: 91%;
  width: 100%;
  height: 30%;
  z-index: 1;
  background-color: white;
  animation: slide-in 2s ease-in-out forwards alternate;
}

.img-container::before {
  content: '';
  /* margin-left: 0.5rem; */
  color: red;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: white;
  animation: slide-in 1s ease-in-out forwards alternate;
}

@keyframes slide-in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%); /* Пример анимации, сдвигаем вправо на 1rem */
  }
}

.react-parallax {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 500px;
}

/* Добавьте этот CSS-код в ваш файл стилей */

.burger-menu {
  width: 2rem;
  height: 0.25rem;
  background-color: black;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-menu-open .burger-top {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu-open .burger-middle {
  opacity: 0;
}

.burger-menu-open .burger-bottom {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  z-index: 50;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.translate-x-0 {
  transform: translateX(0);
}

.translate-x-full {
  transform: translateX(100%);
}
